{% extends "base.html" %}

{%block content %}
<html>
    <head>
        <title>P5 Group ASCII Chess| Home </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/style.css">

    </head>

<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block head %}
    {% endblock %}
  </head>

  <body>
    


    <body style="background-color:black;">

      <h1 style = "font-family: Times New Roman ; color: yellow; font-size: 70px; padding-bottom: 50px">CHESS OO 2.0<h1>

          <a class="nav-link code" style="font-family: Comic Sans MS; font-size: 50px; color:red; border-radius: 50px ; border-style:double ; text-align: center" href="/project/chessMenu/" >Click to Play CHESS!</a>


          <img id = "background" src= "https://cdn.discordapp.com/attachments/763494337798471721/770163622549651486/most_expensive_chess_board_ever.png" alt = "expensive chess set">

    </body>      
{% endblock %}